<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
</head>
<body>
    {% comment %} <form action="" method="post"> {% endcomment %}
    <h1>This is Index Page.</h1>
    <a href="{% url 'user_urls:user_login' %}">
    <button type="submit">Login Page</button>
    </a>
    {% comment %} <input type="submit" value="LOGIN"> {% endcomment %}
    {% comment %} <button type="submit" href="{% url '' %}">LogOut</button> {% endcomment %}
    {% comment %} </form> {% endcomment %}

</body>
</html>